.nav-Link {
  transition: all 0.2s;
}

.nav-item {
  font-family: "Popins", sans-serif !important;
  font-size: 20px !important;
  color: white;
}

.navbar-brand {
  cursor: pointer;
}
.nav-link:hover {
  text-decoration: none;
  border-bottom: 2px solid greenyellow;
  cursor: pointer;
}

.nav-Link::after {
  content: "";
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: greenyellow;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-Link:hover::after {
  opacity: 1;
}
